.HEADER{
	background-color: GREEN;
	text-align: CENTER;
	font-size: 30px;
	padding: 67px;
	margin: -10px;
}
.MAIN{
	background-color: RED;
	margin: -10px;
	padding: 70px;
}
.FOOTER{
	background-color:#ffeb3b ;
	text-align: CENTER;
	font-size: 24px;
    color: #3f51b5;
    padding: 59px; 
    margin: -10px;
}